<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/dasboardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <!--    <section layout:fragment="content">&lt;!&ndash; Navbar &ndash;&gt;-->
    <!--        &lt;!&ndash; Hero Section &ndash;&gt;-->
    <!--        <div class="mt-5">-->
    <!--            <div class="jumbotron text-center">-->
    <!--                <h1 class="display-4">Welcome to Our Store!</h1>-->
    <!--                <p class="lead">Find the best products here.</p>-->
    <!--                <hr class="my-4">-->
    <!--                <p>Browse our products below.</p>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; Products Section &ndash;&gt;-->
    <!--        <div class="col-9 mt-5">-->
    <!--            <div class="row p-2">-->
    <!--                <div th:each="product : ${products}">-->
    <!--                    <div class="card col-3 mt-2">-->
    <!--                        <img id="image" th:src="@{'getImage/' + ${product.productId}}">-->
    <!--                        <div class="card-body">-->
    <!--                            <h5 class="card-title" th:text="${product.name}">Product Name</h5>-->
    <!--                            <p class="card-text" th:text="${product.description}">Product Description</p>-->
    <!--                            <p class="card-text" th:text="'$' + ${product.unitPrice}">Product Price</p>-->
    <!--                            <a href="#" class="btn btn-primary">Buy Now</a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->


    <!--    </section>-->
    <section class="menu section-padding" layout:fragment="content">

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="jumbotron text-center">
                        <h1 class="display-4">Welcome to Our Store!</h1>
                        <p class="lead">Find the best products here.</p>
                        <hr class="my-4">
                        <p>Browse our products below.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12" th:each="product : ${products}">
                    <div class="menu-thumb">
                        <div class="menu-image-wrap">
                            <img id="image" th:src="@{'getImage/' + ${product.productId}}" class="img-fluid menu-image"
                                 alt="">
                        </div>

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h4 class="mb-0" th:text="${product.name}"></h4>

                            <span class="price-tag bg-white shadow-lg ms-4 ml-3">$ <small
                                    th:text="${product.unitPrice}"></small></span>

                            <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                <h6 class="reviews-text mb-0 me-3">4.3/5</h6>

                                <div class="reviews-stars">
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star reviews-icon"></i>
                                </div>

                                <p class="reviews-text mb-0 ms-4 ml-3   ">102 Reviews</p>
                            </div>
                            <div class="float-left">
                                <button class="btn btn-outline-danger mt-2" th:href="@{'/cart/add/' + ${product.productId}}">Buy Now</button>
                                <button class="btn btn-outline-danger mt-2 ml-2"><i class="fa-solid fa-cart-shopping"></i></button>
                                <button class="btn btn-outline-danger mt-2 ml-2"><i class="fa-solid fa-heart"></i></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>