<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dasboardLayout.html}"
>
<head>
</head>
<body>
<section class="row" layout:fragment="content">
    <div class="col-9 offset-2 mt-4">
        <form th:action="@{/admin/products/saveOrUpdate}" method="post" enctype="multipart/form-data" th:object="${product}">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${product.isEdit ? 'Edit Product' : 'Add New Product'}">Add New Product</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="hidden" th:field="*{isEdit}">
                                <div class="mb-3" th:if="${product.isEdit}">
                                    <label for="" class="form-label">Product ID:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="productId"
                                            id="productId"
                                            aria-describedby="helpId"
                                            placeholder="Product ID"
                                            th:field="*{productId}"
                                    />
                                    <small class="form-text text-muted"
                                    >Product ID is required</small
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Name:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            id="name"
                                            aria-describedby="helpId"
                                            placeholder="Product Name"
                                            th:field="*{name}"
                                    />
                                    <small  class="form-text text-muted"
                                    >Product name is required</small
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Quantity:</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="quantity"
                                            id="quantity"
                                            aria-describedby="helpId"
                                            th:field="*{quantity}"
                                    />
                                    <small id="helpId" class="form-text text-muted"
                                    >Product quantity is required</small
                                    >
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="height: 50px">Unit Price</span>
                                    <input type="text" class="form-control" name="price" id="price" placeholder="Product Price" th:field="*{unitPrice}">
                                    <span class="input-group-text" style="height: 50px">VND</span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="" class="form-label">Category:</label>
                                    <select class="form-select form-select" aria-label="Small select example" th:field="*{categoryId}">
                                       <option th:each="item : ${categories}" th:value="${item.categoryId}" th:text="${item.name}" >A</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ml-5">
                            <script>
                                function chooseFile(fileInput) {
                                    if(fileInput.files && fileInput.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            $('#image').attr('src', e.target.result)
                                        }
                                        reader.readAsDataURL(fileInput.files[0])
                                    }
                                }
                            </script>

                            <img id="image"
                                 th:src="${product.image != null ? '/admin/produts/images' + product.image : 'images/noimage.jpg'}"
                                    src="/images/laptop.png" width="82%"
                                    class="img-fluid rounded-top"
                                    alt=""
                            />
                            <div class="form-group mb-3">
                                <label for="">Image file:</label>
                                <input class="form-control-file" onchange="chooseFile(this)" type="file" name="imageFile" id="productImage">
                                <small class="form-text text-muted">Product image is required</small>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="height: 50px">Discount</span>
                                <input type="text" class="form-control" name="discount" id="discount" placeholder="Product Discount" th:field="*{discount}">
                                <span class="input-group-text" style="height: 50px">%</span>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Status:</label>
                                <select class="form-select form-select" aria-label="Small select example" th:field="*{status}">
                                    <option value="1">Available</option>
                                    <option value="2">On Sale</option>
                                    <option value="3">Out of stock</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="" class="mb-3">Description:</label>
                                    <textarea class="form-control" name="" id="" th:field="*{description}" style="height: 80px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary" th:text="${product.isEdit ? 'Update' : 'Save'}">
                        <i class="fa fa-save" aria-hidden="true"></i>
                    </button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <a th:href="@{/admin/products/searchpaginated}" class="btn btn-success float-right">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        List product</a>
                </div>
            </div>

        </form>
    </div>
</section>
</body>
</html>
