<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dasboardLayout.html}">
<head>

</head>
<body>
<main class="container">
    <section class="row" layout:fragment="content">
        <div class="col mt-4">
            <div class="card">
                <div class="card-header">
                    <h3>Product List</h3>
                </div>
                <div class="card-body">
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i th:text="${message}"></i>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col">
                            <form th:action="@{/admin/products/searchpaginated}">
                                <div class="form-inline float-left d-flex">
                                    <label class="mt-2">Name:</label>
                                    <input type="text" class="form-control ml-2" name="name" id="name"
                                           placeholder="Product Name"/>
                                    <button class="btn btn-primary ml-2" style="height: 50px">Search</button>
                                </div>
                            </form>
                            <div class="float-right">
                                <a class="btn btn-outline-primary" th:href="@{/admin/products/add}">Add new
                                    Product</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${!productPage.hasContent()}">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong>No products found</strong>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="table-responsive">
                            <table class="table table-bordered" th:if="${productPage.hasContent()}">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="form-check-input"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Discount</th>
                                    <th>Status</th>
                                    <th>Category</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" th:each="item, istat: ${productPage.content}">
                                    <td><input type="checkbox" name="" id="" class="form-check-inline"></td>

                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.quantity}"></td>
                                    <td th:text="${item.unitPrice}"></td>
                                    <td th:text="${item.discount}"></td>
                                    <td th:text="${item.status}"></td>
                                    <td th:text="${item.category.name}"></td>
                                    <td>
                                        <a th:href="@{'/admin/products/view/' + ${item.productId}}"
                                           class="btn btn-outline-info mr-3"><i class="fa fa-info-circle"
                                                                                aria-hidden="true"></i></a>
                                        <a th:href="@{'/admin/products/edit/' + ${item.productId}}"
                                           class="btn btn-outline-warning mr-3"><i class="fa fa-edit"
                                                                                   aria-hidden="true"></i></a>
                                        <a
                                           th:data-id="${item.productId}"
                                           th:data-name="${item.name}"
                                           onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                                           class="btn btn-outline-danger mr-3"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

<!--                        <script>-->
<!--                            function showConfirmModalDialog(id, name) {-->
<!--                                jQuery('#productName').text(name);-->
<!--                                jQuery('#yesOption').attr('href', '/admin/products/delete/' + id);-->
<!--                                jQuery('#confirmationId').modal('show');-->
<!--                            }-->
<!--                        </script>-->
                        <script>
                            function showConfirmModalDialog(id, name) {
                                $('#productName').text(name);
                                $('#yesOption').attr('href' , '/admin/products/delete/' + id);
                                $('#confirmationId').modal('show');
                            }
                        </script>

                        <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog"
                             aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="model-header">
                                        <h5 class="model-title text-center" >Confirmation</h5>

                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete product: "<span  id="productName"></span>"?
                                    </div>
                                    <div class="modal-footer">
                                        <a id="yesOption" type="button" class="btn btn-outline-danger">Yes</a>
                                        <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer text-muted">
                        <form action="">
                            <div class="form-inline float-left d-flex">
                                <label for="size" class="mr-2">Page Size</label>
                                <select class="form-select form-select" aria-label="Small select example" name="size"
                                        id="size" onchange="this.form.submit()">
                                    <option th:selected="${productPage.size == 5}" value="5">5</option>
                                    <option th:selected="${productPage.size == 10}" value="10">10</option>
                                    <option th:selected="${productPage.size == 15}" value="15">15</option>
                                    <option th:selected="${productPage.size == 20}" value="20">20</option>
                                </select>
                            </div>
                        </form>
                        <nav aria-label="Page navigation"
                             th:if="${productPage.totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li th:class="${ 1 == productPage.number + 1} ? 'page-item actice' : 'page-item'">
                                    <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${1})}"
                                       class="page-link">First Page</a>
                                </li>
                                <li class="page-item active"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:if="${productPage.totalPages > 1}"
                                    th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${pageNumber})}"
                                       class="page-link" th:text="${pageNumber}"></a>
                                </li>

                                <li th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item actice' : 'page-item'">
                                    <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
                                       class="page-link">Last Page</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
</body>
</html>
