<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
</head>
<body>
<div th:fragment="footer">
<!--    <footer class="bg-body-tertiary text-center">-->
<!--        &lt;!&ndash; Grid container &ndash;&gt;-->
<!--        <div class="container p-4"></div>-->
<!--        &lt;!&ndash; Grid container &ndash;&gt;-->

<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">-->
<!--            © 2024 Copyright:-->
<!--            <a class="text-body" href="https://CDShop.com/">CD Shop</a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    </footer>-->
    <footer class="row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                Copyright &copy; 2024 Admin Dashboard - CĐ Shop .
            </p>
        </div>
    </footer>
</div>
</body>
</html>
